body {
  font-family: "Montserrat", sans-serif;
}
.navbar,
.footer {
  background-color: #7952b3;
}

.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 2px;
  border-radius: 50%;
  background-color: white;
  transition: 0.5s;
}

.fa:hover {
  cursor: pointer;
  transform: rotateZ(360deg);
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #55acee;
}

.fa-google {
  color: #dd4b39;
}

.fa-linkedin {
  color: #007bb5;
}

.jumbotron {
  padding-top: 20vh;
  /* background-color: #8f5ef2; */
  background-image: url("https://images.unsplash.com/photo-1527903868760-c4e2f19b68c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1,
h2 {
  color: #48318f;
}

.sansita {
  font-family: "Sansita Swashed", cursive;
}

a {
  color: #dd4b39;
  transition: 0.2s;
}

a:hover {
  color: #dd4b39;
  text-decoration: none;
}

.bootstrap-link:hover {
  font-size: larger;
}

#projects,
#edu {
  background-color: #d9ace6;
}
